{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}

{% block content %}

</div>
<!-- <div class="dfe-content-page--header" role="banner"> -->

   <div class="dfeuk-width-container">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} 
    </h1>

    <p class="govuk-body-l">Support to help you make the choices you need for jobs, training and courses</p>

</div>
</div>
</div>


</div>

<div class="dfeuk-width-container">


<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-half
   dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/young-people.png" alt="Three young people laughing while looking at a mobile phone">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l2-young-people" >Young people</a>
           </h2>
           <p class="dfeuk-card__description">I'm in education or just about to leave</p>
        </div>
     </div>
  </li>

  <li class="dfeuk-grid-column-one-half dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/adults.png" alt="three adults having a conversation">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l2-adults" >Adults</a>
          </h2>
          <p class="dfeuk-card__description">I’m looking for a new job or how to get into work</p>
       </div>
    </div>
 </li>
</ul>

<hr>

<h2 class="govuk-heading-l">
   Support someone else
 </h2>

 <ul class="dfeuk-grid-row dfeuk-card-group">
 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
    <img class="dfeuk-card__img" src="/public/images/teachers.png" alt="a teacher smiling">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l2-teachers" >Teachers</a>
         </h2>
         <p class="dfeuk-card__description">I want to support students with their career</p>
      </div>
   </div>
 </li>
 
 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/parents.png" alt="a man helping his child with school work">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="l2-parents" >Parents and carers</a>
        </h2>
        <p class="dfeuk-card__description">I want to support my child with their career</p>
     </div>
  </div>
</li>





<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
    <img class="dfeuk-card__img" src="/public/images/employers.png" alt="an employer laughing with colleagues">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="https://find-employer-schemes.education.gov.uk/" style="display:inline-block" >Employers</a>
               <!-- <img class="dfeuk-image__icon" src="/public/images/offsite.png" alt="the Employers link leaves the current site"> -->

         </h2>
         <p class="dfeuk-card__description">
            Go to employer site</p>
      </div>
   </div>
 </li>

 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
    <img class="dfeuk-card__img" src="/public/images/careers-advisers.png" alt="careers adviser and a client having a conversation">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="https://nationalcareers.service.gov.uk/" >Careers advisers</a>
            <!-- <img class="dfeuk-image__icon" src="/public/images/offsite.png" alt="the careers advisers link leaves the current site"> -->

         </h2>
         <p class="dfeuk-card__description">Support others with their careers using resources from National Careers Service</p>
      </div>
   </div>
 </li>

</ul>
 

</div>
</div>

<hr>


<h2 class="govuk-heading-l">
   More options
 </h2>

<ul class="dfeuk-grid-row dfeuk-card-group">
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/green-jobs.png" alt="a woman in an office looking at data">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="campaign-1" >Consider a career in renewable energy</a>
           </h2>
           <p class="dfeuk-card__description">There are thousands of live training opportunities right now</p>
        </div>
     </div>
   </li>
   
   
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/apprenticeships-week.png" alt="two adults having a conversation">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="campaign-2" >National Apprenticeship Week 2023, 6th - 12th February 2023</a>
        </h2>
        <p class="dfeuk-card__description">Events across the UK showcasing the benefits of an apprenticeship</p>
     </div>
   </div>
   </li>
   
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/get-into-teaching.png" alt="a teacher looking confident in a room full of students ">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="https://getintoteaching.education.gov.uk/" >Get Into Teaching </a>
           <!-- <img class="dfeuk-image__icon" src="/public/images/offsite.png" alt="the Employers link leaves the current site"> -->

        </h2>
        <p class="dfeuk-card__description">Free advice and help to decide if teaching is right for you</p>
     </div>
   </div>
   </li>
   </ul>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

    
<!-- {% include "/includes/_adviser-resource" %} -->

 


  </div>
</div>




{% endblock %}
