{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="/l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Adults
     </li>
   </ol>
 </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



  




    <h1 class="govuk-heading-xl">
      Adults
    </h1>

    <p class="govuk-body-l">Support to help you make the choices you need for jobs, training and courses.</p>


   </div>
   </div>

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/ad-choices.png" alt="">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l3-choices-retrain" >Choices to retrain and find work</a>
           </h2>
           <p class="dfeuk-card__description">Explore what you could do next</p>
        </div>
     </div>
  </li>


  <!-- <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
       <img class="dfeuk-card__img" src="/public/images/ad-what-job.png" alt="a person working at a laptop">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l3-what-job" >What job should I do?</a>
          </h2>
          <p class="dfeuk-card__description">Explore where your experiences or interests could take you</p>
       </div>
    </div>
 </li> -->


 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/ad-help.png" alt="">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="l3-help-with-applying" >Help with careers and applications</a>
        </h2>
        <p class="dfeuk-card__description">Support for interviews and writing applications for jobs and training</p>
     </div>
  </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/ad-explore.png" alt="">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="l3-explore" >Explore different careers</a>
        </h2>
        <p class="dfeuk-card__description">Discover careers you didn’t know existed</p>
     </div>
  </div>
</li>
</ul>
 

<hr>



<h2 class="govuk-heading-l">
   More options
 </h2>

 
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


      <ul class="dfeuk-grid-row dfeuk-card-group">
         <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
           <div class="dfeuk-card dfeuk-card--clickable">
            <img class="dfeuk-card__img" src="/public/images/green-jobs.png" alt="">
              <div class="dfeuk-card__content">
                 <h2 class="dfeuk-card__heading dfeuk-heading-m">
                    <a href="campaign-1" >Consider a career in renewable energy</a>
                 </h2>
                 <p class="dfeuk-card__description">There are thousands of live training opportunities right now</p>
              </div>
           </div>
         </li>
         
         
         <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
         <div class="dfeuk-card dfeuk-card--clickable">
         <img class="dfeuk-card__img" src="/public/images/apprenticeships-week.png" alt="">
           <div class="dfeuk-card__content">
              <h2 class="dfeuk-card__heading dfeuk-heading-m">
                 <a href="campaign-2" >National Apprenticeship Week 2023, 6th - 12th February 2023</a>
              </h2>
              <p class="dfeuk-card__description">Events across the UK showcasing the benefits of an apprenticeship</p>
           </div>
         </div>
         </li>
         
         <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
            <div class="dfeuk-card dfeuk-card--clickable">
            <img class="dfeuk-card__img" src="/public/images/get-into-teaching.png" alt="">
              <div class="dfeuk-card__content">
                 <h2 class="dfeuk-card__heading dfeuk-heading-m">
                    <a href="https://getintoteaching.education.gov.uk/" >Get Into Teaching </a>
                 </h2>
                 <p class="dfeuk-card__description">Free advice and help to decide if teaching is right for you</p>
              </div>
            </div>
            </li>
         </ul>

  </div>
</div>

{% endblock %}
