{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}


{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="/l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Help and support
     </li>
   </ol>
 </div>
{% endblock %}


{% block content %}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Help and support
    </h1>

    <p class="govuk-body-l">Help and support with career advice as well as funding, finance and your circumstances. </p>

    <p class="govuk-body">There are different types of support available depending on what kind of course, training or job you are interested in. </p>

</div>
</div>



<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-third
   dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/yp-help-applying.png" alt="">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l3-help-with-applying" >Help with careers and applications</a>
           </h2>
           <p class="dfeuk-card__description">Help with career advice and applying for jobs and training </p>
        </div>
     </div>
  </li>

  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/access-work.png" alt="">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l3-help-support" >Support for funding, finance and your circumstances</a>
          </h2>
          <p class="dfeuk-card__description">Information on the types of support available to help get you into work or training.</p>
       </div>
    </div>
 </li>
</ul>
<!-- 
<hr>


<h2 class="govuk-heading-l">
   More options
 </h2>

<ul class="dfeuk-grid-row dfeuk-card-group">
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/green-jobs.png" alt="a woman in an office looking at data">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="campaign-1" >Consider a career in renewable energy</a>
           </h2>
           <p class="dfeuk-card__description">There are thousands of live training opportunities right now</p>
        </div>
     </div>
   </li>
   
   
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/apprenticeships-week.png" alt="two adults having a conversation">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="campaign-2" >National Apprenticeship Week 2023, 6th - 12th February 2023</a>
        </h2>
        <p class="dfeuk-card__description">Events across the UK showcasing the benefits of an apprenticeship</p>
     </div>
   </div>
   </li>
   
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/get-into-teaching.png" alt="a teacher looking confident in a room full of students ">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="https://getintoteaching.education.gov.uk/" >Get Into Teaching </a>
           <img class="dfeuk-image__icon" src="/public/images/offsite.png" alt="the Employers link leaves the current site">

        </h2>
        <p class="dfeuk-card__description">Free advice and help to decide if teaching is right for you</p>
     </div>
   </div>
   </li>
   </ul>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds"> -->

    
<!-- {% include "/includes/_adviser-resource" %} -->

 


  </div>
</div>




{% endblock %}
