{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
         Teachers
        </li>
      </ol>
    </div>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">





    <h1 class="govuk-heading-xl">
      Teachers
    </h1>

    <p class="govuk-body-l">Resources and information to help you provide advice to your students.</p>





  </div></div>


  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-third
   dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/nec-logo.png" alt="the careers and enterprise company logo">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="https://www.careersandenterprise.co.uk/" >Careers and Enterprise Company</a>
           </h2>
           <p class="dfeuk-card__description">Get tailored and specific support to help you, no matter what role you have within your education setting. </p>
        </div>
     </div>
  </li>

  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/ncs-logo.png" alt="the national careers service logo">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="https://nationalcareers.service.gov.uk/" >National Careers Service</a>
          </h2>
          <p class="dfeuk-card__description">Get resources and tools for careers advisers to help young people and adults with their future choices.</p>
       </div>
    </div>
 </li>
</ul>










   </div>
</div>
   


{% endblock %}
