{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="/l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Young People
     </li>
   </ol>
 </div>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    


    <h1 class="govuk-heading-xl">
      Young people
    </h1>

    <p class="govuk-body-l">Support to help you make the choices you need for jobs, training and courses.</p>



</div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full width">



<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/yp-choices-school.png" alt="a student smiling in a library">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l3-options-school" >Options after leaving school and education</a>
           </h2>
           <p class="dfeuk-card__description">Explore what you could do next</p>
        </div>
     </div>
  </li>
  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/yp-help-applying.png" alt="a young person looking in a mirror while getting ready for a job interview">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l3-help-with-applying" >Help with careers and applications</a>
          </h2>
          <p class="dfeuk-card__description">Support for interviews and writing applications for jobs and training</p>
       </div>
    </div>
 </li>


 <!-- <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
     <img class="dfeuk-card__img" src="/public/images/yp-what-job.png" alt="two friends smiling and looking at a phone">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="l3-what-job" >What job should I do?</a>
        </h2>
        <p class="dfeuk-card__description">Explore where experiences or interests could take you</p>
     </div>
  </div>
</li> -->


<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/yp-explore.png" alt="a group of young people in overalls laughing">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="l3-explore" >Explore different careers</a>
        </h2>
        <p class="dfeuk-card__description">Discover careers you didn't know existed</p>
     </div>
  </div>
</li>
</ul>
 

<hr>



<h2 class="govuk-heading-l">
   More options
 </h2>

 
 <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


<ul class="dfeuk-grid-row dfeuk-card-group">
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/green-jobs.png" alt="a woman in an office looking at data ">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="campaign-1" >Consider a career in renewable energy</a>
        </h2>
        <p class="dfeuk-card__description">There are thousands of live training opportunities right now</p>
     </div>
  </div>
</li>


<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
<div class="dfeuk-card dfeuk-card--clickable">
<img class="dfeuk-card__img" src="/public/images/apprenticeships-week.png" alt="two adults talking">
  <div class="dfeuk-card__content">
     <h2 class="dfeuk-card__heading dfeuk-heading-m">
        <a href="campaign-2" >National Apprenticeship Week 2023, 6th - 12th February 2023</a>
     </h2>
     <p class="dfeuk-card__description">Events across the UK showcasing the benefits of an apprenticeship</p>
  </div>
</div>
</li>

<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
<div class="dfeuk-card dfeuk-card--clickable">
<img class="dfeuk-card__img" src="/public/images/get-the-jump.png" alt="a man jumping in a computer server room">
  <div class="dfeuk-card__content">
     <h2 class="dfeuk-card__heading dfeuk-heading-m">
        <a href="campaign-3" >Aged 14 to 19? </a>
     </h2>
     <p class="dfeuk-card__description">Find the right education and training choice for you</p>
  </div>
</div>
</li>
</ul>

   
 


  </div>
</div>

{% endblock %}
