{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     {% if(page !== "" and pagename !== "") %}
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
    </li>
    {% endif %}
     <li class="govuk-breadcrumbs__list-item">
      Explore different careers
     </li>
   </ol>
 </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">







    <h1 class="govuk-heading-xl">
      Explore different careers
    </h1>

    <p class="govuk-body-l">Find out what a job involves and if it is right for you</p>

    <p class="govuk-body">Use Explore Careers from the National Careers Service to discover how to get into a specific job, what it takes, what you'll be doing and how much you could earn. 
    </p>

 

  <a href="https://nationalcareers.service.gov.uk/explore-careers">
  <button class="govuk-!-margin-bottom-5 govuk-!-margin-top-3 govuk-button ncs-button__primary" data-module="govuk-button">Explore Careers</button>
</a>
    

    <h2 class="govuk-heading-m govuk-!-margin-top-4">
      Discover Your Skills and Careers
   </h2>


   <p class="govuk-body">Not sure what kind of job you could do? Or looking to retrain in a different area of work? 
  </p>

   <p class="govuk-body">Thinking about what you have done in the past is a good place to start. 
  </p>

   <p class="govuk-body">Try using the Discover Your Skills and Careers (DYSAC) tool to discover how your experience or interests, could help you find the right job. 
  </p>

    
  <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/discover-your-skills-and-careers/">Go to the Discover Your Skills and Careers (DYSAC) tool</a>
  </p>


  </div>
</div>






<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <hr>


    <h2 class="govuk-heading-l">
       More options
     </h2>



 <ul class="govuk-!-margin-top-7 dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
     <img class="dfeuk-card__img" src="/public/images/ad-help.png" alt="">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l3-help-with-applying" >Help with careers and applications</a>
          </h2>
          <p class="dfeuk-card__description">Support for interviews and writing applications for jobs and training</p>
       </div>
    </div>
  </li>
    
    
    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
      <div class="dfeuk-card dfeuk-card--clickable">
       <img class="dfeuk-card__img" src="/public/images/green-jobs.png" alt="">
         <div class="dfeuk-card__content">
            <h2 class="dfeuk-card__heading dfeuk-heading-m">
               <a href="campaign-1" >Consider a career in renewable energy</a>
            </h2>
            <p class="dfeuk-card__description">There are thousands of live training opportunities right now</p>
         </div>
      </div>
    </li>
    
    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
      <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/get-into-teaching.png" alt="">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="https://getintoteaching.education.gov.uk/" >Get Into Teaching </a>
           </h2>
           <p class="dfeuk-card__description">Free advice and help to decide if teaching is right for you</p>
        </div>
      </div>
      </li>
    </ul>




{% endblock %}
