{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>


     {% if(page !== "" and pagename !== "") %}
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
    </li>
    {% endif %}
  

     <li class="govuk-breadcrumbs__list-item">
      Help with careers and applications
     </li>
   </ol>
 </div>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">







    <h1 class="govuk-heading-xl">
      Help with careers and applications
    </h1>

    <p class="govuk-body-l">Information on how you can write a CV, complete application forms and some interview tips to help you get to the next step in your career.</p>

    

</div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


   <ul class="dfeuk-grid-row dfeuk-card-group">
    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
       <div class="dfeuk-card dfeuk-card--clickable">
         <img class="dfeuk-card__img" src="/public/images/cv.png" alt="a person working on a laptop ">
          <div class="dfeuk-card__content">
             <h2 class="dfeuk-card__heading dfeuk-heading-m">
                <a href="l4-cv" >How to write a CV</a>
             </h2>
             <p class="dfeuk-card__description">Information on the things you can include in a CV to help you secure an interview
            </p>
          </div>
       </div>
    </li>
  
    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
      <div class="dfeuk-card dfeuk-card--clickable">
         <img class="dfeuk-card__img" src="/public/images/application-forms.png" alt="a person getting help on a paper application form">
         <div class="dfeuk-card__content">
            <h2 class="dfeuk-card__heading dfeuk-heading-m">
               <a href="l4-application-form" >How to complete an application form</a>
            </h2>
            <p class="dfeuk-card__description">Details on the things you need to consider when completing application forms</p>
         </div>
      </div>
   </li>
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/interview.png" alt="a person attending an online interview on their laptop ">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l4-interview-tips" >Interview tips</a>
          </h2>
          <p class="dfeuk-card__description">Overall tips on how you can help yourself succeed in an interview








          </p>
       </div>
    </div>
  </li>
  </ul>









    
 


  </div>
</div>

{% endblock %}
