{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
    
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="l2-help-and-support.html">Help and support</a>
       </li>
     
        <li class="govuk-breadcrumbs__list-item">
          Support for funding, finance and your circumstances

        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Support for funding, finance and your circumstances

    </h1>

    <p class="govuk-body-l">Help for funding, finance and life choices.
    </p>

    <p class="govuk-body">There are different types of support available depending on what kind of course, training or job you're interested in. 
    </p>

    <h2 class="govuk-heading-m">
      Get career advice
   </h2>

    <p class="govuk-body">If you needed careers advice and are aged 18 and over, you can speak to an adviser at the <a href="https://nationalcareers.service.gov.uk/contact-us">National Careers Service.</a>
    </p>



    
    <h2 class="govuk-heading-m">
      Financial support 
   </h2>

    <p class="govuk-body">You can apply for an <a href="https://www.gov.uk/advanced-learner-loan">Advanced Learner Loan</a> to help with the costs of a course at a college or training provider in England. 
    </p>

    <p class="govuk-body">There is also support for income, bills, childcare and travel on <a href="https://www.gov.uk/cost-of-living">Cost of living support. </a> 
    </p>






    <h2 class="govuk-heading-m">
      If you have a disability or a health condition  
   </h2>

    <p class="govuk-body">Find out what <a href="https://www.gov.uk/cost-of-living/disabled-or-health-condition">support is available if you have a disability or have a health condition. </a>

    </p>

    <p class="govuk-body">This includes disability benefits, the Disability Cost of Living Payment and support with prescriptions and health costs.
    </p>



    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    






     <ul class="govuk-!-margin-top-7 dfeuk-grid-row dfeuk-card-group">
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
          <div class="dfeuk-card dfeuk-card--clickable">
           <img class="dfeuk-card__img" src="/public/images/childcare-choices.png" alt="a woman in an office looking at data ">
             <div class="dfeuk-card__content">
                <h2 class="dfeuk-card__heading dfeuk-heading-m">
                   <a href="https://www.childcarechoices.gov.uk/" >Help paying for childcare</a>
                </h2>
                <p class="dfeuk-card__description">Government help with childcare costs for parents. Whether you have toddlers or teens, you could get support.</p>
             </div>
          </div>
        </li>
        
        
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
        <div class="dfeuk-card dfeuk-card--clickable">
        <img class="dfeuk-card__img" src="/public/images/help-households.png" alt="two adults talking">
          <div class="dfeuk-card__content">
             <h2 class="dfeuk-card__heading dfeuk-heading-m">
                <a href="https://helpforhouseholds.campaign.gov.uk/" >Help for Households</a>
             </h2>
             <p class="dfeuk-card__description">See what support is available to help with the cost of living and find out how to save money with our energy saving tips.</p>
          </div>
        </div>
        </li>
        
        <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
           <div class="dfeuk-card dfeuk-card--clickable">
           <img class="dfeuk-card__img" src="/public/images/access-work.png" alt="a person in a wheelchair having a discussion">
             <div class="dfeuk-card__content">
                <h2 class="dfeuk-card__heading dfeuk-heading-m">
                   <a href="https://www.gov.uk/access-to-work" >Access to Work </a>
                </h2>
                <p class="dfeuk-card__description">Get support if you have a disability or health condition</p>
             </div>
           </div>
           </li>
        </ul>

 </div>
</div>




  </div>
</div>

{% endblock %}
