{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        {% if(page !== "" and pagename !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
       </li>
       {% endif %}
       {% if(pagel3 !== "" and pagenamel3 !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{pagel3}}">{{pagenamel3}}</a>
       </li>
       {% endif %}
        <li class="govuk-breadcrumbs__list-item">
         Apprenticeships
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Apprenticeships
    </h1>

    <p class="govuk-body-l">Apprenticeships are real jobs that allow you to earn a wage while you learn. They can take between 1 and 5 years to complete, depending on the level.</p>



  <div class="dfe-content-highlight">

    <div class="dfe-highlighted-content">


    <h2 class="govuk-heading-m">
      What is an apprenticeship?
   </h2>

    <p class="govuk-body">An apprenticeship is a job where you’ll earn a wage and get holiday pay, work alongside experienced staff, gain job-specific skills and get time for training and study related to your role. </p>

    <p class="govuk-body">You’ll also earn a qualification from your apprenticeship. The 4 different apprenticeship levels are:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        intermediate: level 2       
      </li>
      <li>
        advanced: level 3      
      </li>
      <li>
        higher: level 4 or 5
      </li>
      <li>
        degree: level 6 or 7
      </li>
    </ul>

    <p class="govuk-body">After you have finished your apprenticeship you could go straight into employment, find another apprenticeship at a higher level, or start another type of higher education.  </p>

    </div></div>




  <div class="dfe-content-highlight">

    <div class="dfe-highlighted-content">


    <h2 class="govuk-heading-m">
      Who can be an apprentice?
     </h2>

   <p class="govuk-body">To start an apprenticeship, you'll need to: </p>


   <ul class="govuk-list govuk-list--bullet">
    <li>
      be 16 or over      
    </li>
    <li>
      live in England     
    </li>
    <li>
      not be in full time education
    </li>
  </ul>
   

   <p class="govuk-body">You can apply for an apprenticeship while you're still at school.</p>

    </div></div>




  <div class="dfe-content-highlight">

    <div class="dfe-highlighted-content">


   <h2 class="govuk-heading-m">
    Where can I do an apprenticeship?
   </h2>

   <p class="govuk-body">There are over 600 types of apprenticeships in different areas of work. The training might be at your place of work, a college, a training provider or online. </p>

    </div></div>



  <div class="dfe-content-highlight">

    <div class="dfe-highlighted-content">



   <h2 class="govuk-heading-m">
    Find an apprenticeship
  </h2>

   <p class="govuk-body">You can search and apply for all apprenticeships available now in England on GOV.UK.</p>

   <p class="govuk-body">You could also view a <a href="https://amazingapprenticeships.com/higher-degree-listing/">list of all higher and degree apprenticeships</a> that are available both now and in the future.  </p>


 
   <!-- <button class="govuk-button" data-module="govuk-button">
    Find an apprenticeship
  </button> -->

  <a href="  https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch?utm_source=web&utm_medium=apprenticeship&utm_campaign=mvs">

  <button class="govuk-button ncs-button__primary" data-module="govuk-button">Find an apprenticeship</button>

    </a>

  
  


    </div></div>
 


  </div>
</div>

{% endblock %}
