{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        {% if(page !== "" and pagename !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
       </li>
       {% endif %}
       {% if(pagel3 !== "" and pagenamel3 !== "") %}
       <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{pagel3}}">{{pagenamel3}}</a>
      </li>
      {% endif %}
        <li class="govuk-breadcrumbs__list-item">
         Multiply
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Multiply
    </h1>

    <p class="govuk-body-l">Improving your numeracy could help you in your everyday life, from budgeting money to finding a new job. </p>

    <h2 class="govuk-heading-m">
      What is Multiply?
   </h2>

    <p class="govuk-body">Multiply are numeracy courses to help adults improve their numeracy skills. They build your confidence with numbers and help put maths into every day, relatable, context. </p>

    <p class="govuk-body">They could help you unlock job opportunities or with everyday life, such as helping children with homework and budgeting money.</p>

    <p class="govuk-body">Multiply offers:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        free short courses      
      </li>
      <li>
        ranging from beginner to advanced     
      </li>
      <li>
        covering a wide range of numeracy skills, including: GCSE Maths and Functional Skills Qualifications 
      </li>
    </ul>

    <p class="govuk-body">They are flexible so you will be able to learn at a pace that suits you and help you gain a qualification at the end.  </p>


    <h2 class="govuk-heading-m">
      Who is Multiply for?
     </h2>

   <p class="govuk-body">For adults 19 and over and don’t have maths GCSE at grade C (or equivalent).  </p>

   <p class="govuk-body">They vary in course length but are free and funded by the government.  </p>


   <h2 class="govuk-heading-m">
    Where can I take a Multiply course?
   </h2>

   <p class="govuk-body">The courses are classroom based, taking place at a college and include part-time and evening options.  </p>



   <h2 class="govuk-heading-m">
    Check your numeracy level
  </h2>

   <p class="govuk-body">Our short quiz is 6 multiple-choice numeracy questions, and will take around 5 minutes to complete and you may use a calculator if you wish.  </p>

   <p class="govuk-body">The quiz will also help explain how to get to the correct answer. </p>

   <p class="govuk-body"><a href="https://www.riddle.com/view/373677">Take the quiz</a></p>

   <h2 class="govuk-heading-m">
    Find a numeracy course
  </h2>

   <p class="govuk-body">You can use UCAS to search and apply for HTQ courses near to you.  </p>

 
   <button class="govuk-button" data-module="govuk-button">
    Find numeracy course
  </button>

  <p class="govuk-body"><a href="https://skillsforlife.campaign.gov.uk/further-support/">If you’re in Wales, Scotland or Northern Ireland, you can find further support on how you can boost your numeracy skills.</a></p>
  


    
 


  </div>
</div>

{% endblock %}
