{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        {% if(page !== "" and pagename !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
       </li>
       {% endif %}
       {% if(pagel3 !== "" and pagenamel3 !== "") %}
       <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{pagel3}}">{{pagenamel3}}</a>
      </li>
      {% endif %}
        <li class="govuk-breadcrumbs__list-item">
         The Skills Bootcamps
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Skills Bootcamps
    </h1>

    <p class="govuk-body-l">Free flexible training courses for adults to develop specific skills in digital, technical, construction and green sectors, with a guaranteed job interview at the end.</p>

    <h2 class="govuk-heading-m">
      What are Skills Bootcamps?
   </h2>

    <p class="govuk-body">These flexible courses last up to 16 weeks and allow you to gain skills employers are looking for. </p>

    <p class="govuk-body">For most Skills Bootcamps, you don’t need to have any previous knowledge in the subject – you just need a good grasp of the English language and the willingness to learn new skills.</p>

    <p class="govuk-body">Hundreds of courses are currently available in:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        digital skills (such as data engineering, software development or digital marketing)      
      </li>
      <li>
        technical skills (like construction or engineering)  
      </li>
      <li>
        green skills (including electric vehicle and heat pump technology) 
      </li>
    </ul>

    <p class="govuk-body">Completing a Skills Bootcamp leads to a guaranteed job interview with a local employer, helping you to get a better job. </p>



    <h2 class="govuk-heading-m">
      Who can take a Skills Bootcamp?
     </h2>

   <p class="govuk-body">Skills Bootcamps are available to adults aged 19 and over.</p>

   <p class="govuk-body">The Bootcamps are free. They are funded by the government if you are taking the course yourself and not through your employer.</p>

   <p class="govuk-body">Some Skills Bootcamps may have additional entry requirements, such as previous education levels or sector experience. Contact the provider or visit their website for more information on the entry requirements for a specific Skills Bootcamp.</p>


   <h2 class="govuk-heading-m">
    Where can I do a Skills Bootcamp? 
   </h2>

   <p class="govuk-body">Skills Bootcamps can take place at a college, at a place of work or online.   </p>

   <p class="govuk-body">Skills Bootcamps are designed to be flexible, so you can fit learning around your family or other commitments. </p>


   <h2 class="govuk-heading-m">
    Find a Skills Bootcamp
  </h2>

   <p class="govuk-body">Find the right Skills Bootcamp for you and apply directly through the training provider’s website.</p>

   
 
   <button class="govuk-button" data-module="govuk-button">
    Find a Skills Bootcamp
  </button>

  


    
 


  </div>
</div>

{% endblock %}
