{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        {% if(page !== "" and pagename !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
       </li>
       {% endif %}
       {% if(pagel3 !== "" and pagenamel3 !== "") %}
       <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{pagel3}}">{{pagenamel3}}</a>
      </li>
      {% endif %}
        <li class="govuk-breadcrumbs__list-item">
         VTQs
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Vocational technical qualifications (VTQs)
    </h1>

    <p class="govuk-body-l">VTQs are practical qualifications for over 16s. They're designed to help you get the skills you need to start your career or go on to higher levels of education. </p>


    <h2 class="govuk-heading-m">
      What is a VTQ?
   </h2>

    <p class="govuk-body">VTQs focus on a specific job or a broad employment area, such as childcare, engineering or IT. There are over 2,000 different subjects available across the different VTQs. </p>

    <p class="govuk-body">They might be for you if you have a strong interest in working in a particular industry.</p>

    <p class="govuk-body">There are a few different types and levels of VTQs, including:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        BTECs: level 1 to 7 qualifications      
      </li>
      <li>
        Cambridge Nationals: level 1 and 2 qualifications     
      </li>
      <li>
        Cambridge Technicals: level 2 and 3 qualifications
      </li>
      <li>
        T Levels: level 3 qualifications
      </li>
    </ul>

    <p class="govuk-body">The length of the VTQ will be different for each one, but the minimum length is one year. </p>

    <p class="govuk-body">After completing a VTQ, you could go straight into employment or start another type of higher education. </p>


    <h2 class="govuk-heading-m">
      Who can take a VTQ?
     </h2>

   <p class="govuk-body">To start a VTQ, you’ll need to: </p>


   <ul class="govuk-list govuk-list--bullet">
    <li>
      be 16 or over 
    </li>
    <li>
      live in England     
    </li>
    <li>
      not be in full time education
    </li>
  </ul>
   


   <h2 class="govuk-heading-m">
    Where can I do a VTQ?
   </h2>

   <p class="govuk-body">VTQs usually take place at a school or college. Each educational provider sets their own entry requirements. The grades you’ll need to have will depend on the level and type of course you’re applying for. </p>



   <h2 class="govuk-heading-m">
    Find a VTQ
  </h2>

   <p class="govuk-body">You can search for colleges and schools currently offering VTQ courses to find out where your nearest one is. </p>



 
   <button class="govuk-button" data-module="govuk-button">
    Find a VTQ
  </button>
  


    
 


  </div>
</div>

{% endblock %}
