{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
<div class="govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Young people
     </li>
   </ol>
 </div>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Campaign 1
    </h1>
    <p class="govuk-body-l">Campaign 1</p>
    </div>



    <div class="govuk-!-margin-bottom-7 govuk-grid-column-one-third ">
      <img class="dfeuk-image__img" src="/public/images/skills-for-life-logo.png" alt="a student smiling at the camera">
   </div>
</div>




<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-half">
 
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-xrQoU6qZLU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

     </div>
 
 
 
     <div class="govuk-!-margin-bottom-7 govuk-grid-column-one-third ">
      <p class="govuk-body">Campaign 1 content </p>
 
   </div>
</div>









<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">

<hr>

      <h2 class="govuk-heading-m">
         More options
     </h2>


<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/yp-choices-school.png" alt="a student smiling at the camera">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l3-options-school" >Options after leaving school and education</a>
           </h2>
           <p class="dfeuk-card__description">Explore what you could do next</p>
        </div>
     </div>
  </li>
  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/yp-help-applying.png" alt="a young person looking in a mirror while getting ready for a job interview">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="https://www.gov.uk/guidance/government-design-principles" >Help with applying for 
               jobs and training</a>
          </h2>
          <p class="dfeuk-card__description">Support for interviews and writing applications for jobs and training</p>
       </div>
    </div>
 </li>


<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/yp-explore.png" alt="a group of young people in overalls laughing">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="l3-explore" >Explore different careers</a>
        </h2>
        <p class="dfeuk-card__description">Discover careers you didn’t know existed</p>
     </div>
  </div>
</li>
</ul>
 





   
 


  </div>
</div>

{% endblock %}
