{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="l4-job-idea-generator" class="govuk-back-link">Back</a>
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     {% if(page !== "" and pagename !== "") %}
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
    </li>
    {% endif %}
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="L3-explore">Explore different careers</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Job idea generator
     </li>
   </ol>
 </div>
{% endblock %}




{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Question 4 out of 6</p>

        <form action="jig-5" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What subjects do you enjoy?
                </h1>
              </legend>
              <div id="waste-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    English
                  </label>
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Maths
                    </label>
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                        Science
                      </label>
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="waste">
                          History
                        </label>
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                            Geography
                          </label>
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                              Art and design
                            </label>
                          </div>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                              <label class="govuk-label govuk-checkboxes__label" for="waste">
                                Music
                              </label>
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste">
                                  Physical education (PE)
                                </label>
                              </div>
                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    Computing
                                  </label>
                                </div>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                                      Languages (example: French)
                                    </label>
                                  </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    I don't enjoy any of these subjects
                  </label>
                </div>
                
              </div>
            </fieldset>
          </div>
          

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      
        </form>
      </div>
    </div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">





  </div>

{% endblock %}







