{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
         Parents and carers
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Parents and carers
    </h1>

    <p class="govuk-body-l">I want to support my child with their career.</p>

    <p class="govuk-body">We know that having conversations about the future can be daunting. </p>

    <p class="govuk-body">On this page you’ll find information to build your confidence as a parent or carer, to talk to your child or young person about their future training or career choices. </p>

    <p class="govuk-body">You will find resources to help with: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
         advice on how to support someone making training or job choices       
      </li>
      <li>
         financial support for young people      
      </li>
      <li>
         information about SEND
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Help and support talking to your child
   </h2>

   <p class="govuk-body"><a href="https://www.talkingfutures.org.uk/start-talking/">Talking futures</a> is a resource created to help you have informed and constructive conversations with your child about their future. </p>

   <h2 class="govuk-heading-m">
      Financial help to support your child’s choices
   </h2>

   <p class="govuk-body">You can apply for an <a href="https://www.gov.uk/advanced-learner-loan">Advanced Learner Loan </a>to help with the costs of a course at a college or training provider in England.  </p>


   <h2 class="govuk-heading-m">
      Support for children with additional needs
  </h2>

   <p class="govuk-body">Find <a href="https://www.gov.uk/children-with-special-educational-needs">information and support </a>if you have a child with special educational needs and disabilities.  </p>

   <p class="govuk-body">Your local council may be able to provide <a href="https://www.gov.uk/help-for-disabled-child"> support with additional costs </a>of caring for a child with disabilities.  </p>


 



    
 


  </div>
</div>

{% endblock %}
