{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
         Teachers
        </li>
      </ol>
    </div>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">





    <h1 class="govuk-heading-xl">
      Teachers
    </h1>

    <p class="govuk-body-l">Resources and information to help you provide advice to your students.</p>

    <p class="govuk-body">The <a href="https://www.careersandenterprise.co.uk/">Careers and Enterprise Company</a> can provide tailored and specific support to help you matter what role you have within your education setting.</p>

    <p class="govuk-body">The <a href="https://nationalcareers.service.gov.uk/">National Careers Service</a> provides resources and tools for careers advisers to help young people and adults with their future choices.</p>




   </div>
</div>
   

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


<!-- 
<ul class="govuk-!-margin-top-7 dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/te-choices.png" alt="a teacher standing over a group of young students and helping one of them with work">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l3-options-school" >Choices after leaving school and education</a>
           </h2>
           <p class="dfeuk-card__description">Explore what can be done next</p>
        </div>
     </div>
  </li>

  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/yp-help-applying.png" alt="someone looking in a mirror while getting ready for a job interview">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="https://www.gov.uk/guidance/government-design-principles" >Help with applying for 
               jobs and training</a>
          </h2>
          <p class="dfeuk-card__description">Support for interviews and writing applications for jobs and training</p>
       </div>
    </div>
 </li>


 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/ad-what-job.png" alt="a person using a laptop">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="l3-what-job" >What job should I do?</a>
        </h2>
        <p class="dfeuk-card__description">Explore where experiences or interests could take you</p>
     </div>
  </div>
</li>


<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
  <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/yp-what-job.png" alt="two young people smiling while looking at a phone">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="https://www.gov.uk/guidance/government-design-principles" >Find jobs near me</a>
        </h2>
        <p class="dfeuk-card__description">Search for full or part-time jobs in England, Scotland and Wales</p>
     </div>
  </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/ad-choices.png" alt="man with a pencil smiling in a classroom">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l3-choices-retrain" >Choices for adults to retrain and find work</a>
         </h2>
         <p class="dfeuk-card__description">Explore what can be done next</p>
      </div>
   </div>
 </li>
 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/te-explore.png" alt="a teacher helping a child">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l3-explore" >Explore different careers</a>
         </h2>
         <p class="dfeuk-card__description">Discover careers you didn’t know existed</p>
      </div>
   </div>
 </li>
</ul>
  -->



    

 


  </div>
</div>

{% endblock %}
