{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Training choices
     </li>
   </ol>
 </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-quarter">

<div class="govuk-summary-card">
   <div class="govuk-summary-card__title-wrapper">
     <h2 class="govuk-summary-card__title">Filters</h2>
     <ul class="govuk-summary-card__actions">
       <li class="govuk-summary-card__action">
         <a class="govuk-link" href="/reports/">
     Clear filters
           </a>
       </li>
     </ul>
   </div>
   <div class="govuk-summary-card__content">

     <form method="post" action="/reports/apply-filter">
       <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
         <div class="govuk-accordion__section">
           <div class="govuk-accordion__section-header">
             <h2 class="govuk-accordion__section-heading">
               <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
             Outcomes
             </span>
             </h2>
           </div>
           <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
             <div class="govuk-form-group">
               <fieldset class="govuk-fieldset">
                 <legend class="govuk-fieldset__legend">
                   Peer review outcome
                </legend>
                 <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                      Red
                      </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                      Amber
                      </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" {{checked("filter_outcome","Green")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                      Green
                      </label>
                   </div>
                 </fieldset>
               </div>
             </div>
           </div>
           <div class="govuk-accordion__section">
             <div class="govuk-accordion__section-header">
               <h2 class="govuk-accordion__section-heading">
                 <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Portfolio
                </span>
               </h2>
             </div>
             <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
             Need to add options
          </div>
           </div>
           <div class="govuk-accordion__section">
             <div class="govuk-accordion__section-header">
               <h2 class="govuk-accordion__section-heading">
                 <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Deputy Director
                </span>
               </h2>
             </div>
             <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
             Need to add options
          </div>

           </div>
         </div>
         <button class="govuk-button" data-module="govuk-button">
          Apply filter
          </button>
       </form>
     </div>
   </div>

   </div>









   <ul class="dfeuk-grid-row dfeuk-card-group">
    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
       <div class="dfeuk-card dfeuk-card--clickable">
          <div class="dfeuk-card__content">
             <h2 class="dfeuk-card__heading dfeuk-heading-m">
                <a href="l4-apprenticeships" >Apprenticeships</a>
             </h2>
             <p class="dfeuk-card__description">Apprenticeships are real jobs that allow you to earn a wage while you learn. They can take between 1 and 5 years to complete, depending on the level.</p>
          </div>
       </div>
    </li>
  
    <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
      <div class="dfeuk-card dfeuk-card--clickable">
         <div class="dfeuk-card__content">
            <h2 class="dfeuk-card__heading dfeuk-heading-m">
               <a href="l4-skills-bootcamps" >Skills Bootcamps</a>
            </h2>
            <p class="dfeuk-card__description">Free flexible training courses for adults to develop specific skills in digital, technical, construction and green sectors, with a guaranteed job interview at the end.</p>
         </div>
      </div>
   </li>

   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
      <div class="dfeuk-card dfeuk-card--clickable">
         <div class="dfeuk-card__content">
            <h2 class="dfeuk-card__heading dfeuk-heading-m">
               <a href="l4-tlevels" >T levels</a>
            </h2>
            <p class="dfeuk-card__description">T Levels are nationally-recognised qualifications for 16 to 19-year-olds that takes 2 years to complete.</p>
         </div>
      </div>
   </li>

   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l4-vtqs" >Vocational Technical Qualifications (VTQs)</a>
          </h2>
          <p class="dfeuk-card__description">Vocational Technical Qualifications (VTQs) are practical qualifications for over 16s. They're designed to help you get the skills you need to start your career or go on to higher levels of education.</p>
       </div>
    </div>
  </li>

 
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
      <div class="dfeuk-card dfeuk-card--clickable">
         <div class="dfeuk-card__content">
            <h2 class="dfeuk-card__heading dfeuk-heading-m">
               <a href="l4-find-a-job" >Find a job</a>
            </h2>
            <p class="dfeuk-card__description">Find full or part-time work using the Find A Job service to search and apply for jobs in England, Scotland and Wales.</p>
         </div>
      </div>
   </li>
 
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l4-supported-internships" >Supported internships if you have an education, health and care plan</a>
           </h2>
           <p class="dfeuk-card__description">Supported internships are an unpaid work-based study programme that usually lasts for one year. It includes an extended work placement that lasts for at least 6 months.</p>
        </div>
     </div>
  </li>

  <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-school-leavers" >School leaver schemes</a>
         </h2>
         <p class="dfeuk-card__description">School leavers scheme is offered by some companies to young people who have completed A levels. The schemes allow you to learn and train with a large company while earning a wage.</p>
      </div>
   </div>
</li>

 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l4-htqs" >Higher Technical Qualifications (HTQs)</a>
          </h2>
          <p class="dfeuk-card__description">Higher Technical Qualifications (HTQs) are technical qualifications that employers have helped develop so you can get the right training and skills you need to succeed at work.</p>
       </div>
    </div>
 </li>
 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-multiply" >Multiply</a>
         </h2>
         <p class="dfeuk-card__description">Improving your numeracy could help you in your everyday life, from budgeting money to finding a new job.</p>
      </div>
   </div>
 </li>
 <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-free-courses" >Free courses for jobs</a>
         </h2>
         <p class="dfeuk-card__description">Hundreds of free courses available for those aged 19 and over, across different sectors, from accounting or construction to courses in early years, digital, catering, adult care and more.</p>
      </div>
   </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-digital-essentials.html" >Digital essential skills</a>
         </h2>
         <p class="dfeuk-card__description">Free Digital Essential skills qualifications to develop the essential digital skills needed for work and everyday life.</p>
      </div>
   </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-english-essentials" >English essential skills</a>
         </h2>
         <p class="dfeuk-card__description">Taking a free English essential skills course can improve your communication skills, helping you progress in work and everyday life.</p>
      </div>
   </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-numeracy-essentials" >Numeracy essential skills</a>
         </h2>
         <p class="dfeuk-card__description">These courses will help you gain the numeracy skills you need for work and everyday life and are recognised by employers.</p>
      </div>
   </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-skills-toolkit" >The Skills Toolkit</a>
         </h2>
         <p class="dfeuk-card__description">Flexible courses open to everyone to boost your skills at your own pace in digital, numeracy and transferable skills.</p>
      </div>
   </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
      <div class="dfeuk-card__content">
         <h2 class="dfeuk-card__heading dfeuk-heading-m">
            <a href="l4-alevels" >A levels</a>
         </h2>
         <p class="dfeuk-card__description">A levels are subject-based qualifications usually assessed by exams. They can lead to further study, training or work.</p>
      </div>
   </div>
</li>
<li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
 <div class="dfeuk-card dfeuk-card--clickable">
    <div class="dfeuk-card__content">
       <h2 class="dfeuk-card__heading dfeuk-heading-m">
          <a href="l4-higher-education" >Higher education</a>
       </h2>
       <p class="dfeuk-card__description">Higher eduction is the name for qualifications and courses you can take after 18. It includes diplomas, foundation years, bachelor degrees and more.</p>
    </div>
 </div>
</li>
</ul>



   <div class="govuk-grid-column-three-quarters">

















      </div>
      </div>


{% endblock %}
