{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Training choices
     </li>
   </ol>
 </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Training choices</h1>
</div>
</div>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-quarter">

<div class="govuk-summary-card">
   <div class="govuk-summary-card__title-wrapper">
     <h2 class="govuk-summary-card__title">Filters</h2>
     <ul class="govuk-summary-card__actions">
       <li class="govuk-summary-card__action">
         <a class="govuk-link" href="/l3-all-choices">
     Clear filters
           </a>
       </li>
     </ul>
   </div>
   <div class="govuk-summary-card__content">

     <form method="post" action="#">
       <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
         
         
         <div class="govuk-accordion__section">
           <div class="govuk-accordion__section-header">
             <h2 class="govuk-accordion__section-heading">
               <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
             Type of course
             </span>
             </h2>
           </div>
           <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
             <div class="govuk-form-group">
               <fieldset class="govuk-fieldset">
                 <!-- <legend class="govuk-fieldset__legend">
                   Peer review outcome
                </legend> -->
                 <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                      Classroom based
                      </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                      Work based
                      </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" {{checked("filter_outcome","Green")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                      Combined work and classroom based
                      </label>
                   </div>
                 </fieldset>
               </div>
             </div>
           </div>


           <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Length of time
              </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <!-- <legend class="govuk-fieldset__legend">
                    Peer review outcome
                 </legend> -->
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                       Up to 4 months
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                       4 to 12 months
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" {{checked("filter_outcome","Green")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                       A year or more
                       </label>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>


           <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Cost
              </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <!-- <legend class="govuk-fieldset__legend">
                    Peer review outcome
                 </legend> -->
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                       Free
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                       Paid
                       </label>
                    </div>
                    <!-- <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" {{checked("filter_outcome","Green")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                       Combined work and classroom based
                       </label>
                    </div> -->
                  </fieldset>
                </div>
              </div>
            </div>
           
         </div>
         <button class="govuk-button" data-module="govuk-button">
          Apply filter
          </button>
       </form>
     </div>
   </div>

   </div>




<!-- OVERALL COURSES COLUMN -->
      <div class="govuk-grid-column-two-thirds">
<!-- OVERALL COURSES COLUMN -->




      <div class="govuk-grid-column-full">
         <h2 class="govuk-link"><a href="https://www.gov.uk/find-a-job">Find a job</a></h2>
         <p class="govuk-body">Find full or part-time work using the 'Find a job' service to search and apply for jobs in England, Scotland and Wales.
         </p>
         <hr>
      </div>

      



      <div class="govuk-grid-column-full">
         <h2 class="govuk-link"><a href="l4-supported-internships">Supported internships with an education, health and care plan</a></h2>
         <p class="govuk-body">Supported internships are an unpaid work-based study programme for those aged 16 to 24 that usually lasts for one year. It includes an extended work placement that lasts for at least 6 months.
         </p>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Qualification Level:</strong></p>
         <p class="govuk-body">Informal with no qualification</p>
         </div>

            <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body"><strong>Cost:</strong></p>
            <p class="govuk-body">Free</p>
            </div>

            <div class="govuk-grid-column-one-quarter">
               <p class="govuk-body"><strong>How long they take:</strong></p>
               <p class="govuk-body">6 to 12 months</p>
               </div>

               <div class="govuk-grid-column-one-quarter">
               <p class="govuk-body"><strong>Benefits:</strong></p>
               <p class="govuk-body">They help you to secure and sustain employment through learning in the workplace, with support from a qualified job coach. </p>
               </div>

               <div class="govuk-grid-column-full">
               <hr>
               </div>
     </div>




  
      <div class="govuk-grid-column-full">
         <h2 class="govuk-link"><a href="l4-apprenticeships">Apprenticeships</a></h2>
         <p class="govuk-body">Apprenticeships are real jobs that allow you to earn a wage while you learn. They can take between 1 and 5 years to complete, depending on the level.
         </p>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Qualification Level:</strong></p>
         <p class="govuk-body">Level 2 to Level 7 (degree apprenticeship)</p>
         </div>

            <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body"><strong>Cost:</strong></p>
            <p class="govuk-body">You are paid the apprentice or national minimum wage depending on age</p>
            </div>

            <div class="govuk-grid-column-one-quarter">
               <p class="govuk-body"><strong>How long they take:</strong></p>
               <p class="govuk-body">1 to 5 years depending on the level</p>
               </div>

               <div class="govuk-grid-column-one-quarter">
               <p class="govuk-body"><strong>Benefits:</strong></p>
               <p class="govuk-body">You work with experienced staff and learn skills relevant to your chosen profession, and get time for training or study during the working week (at least 20% of your normal working hours) </p>
               </div>

               <div class="govuk-grid-column-full">
               <hr>
               </div>
     </div>





      
     <div class="govuk-grid-column-full">
      <h2 class="govuk-link"><a href="l4-skills-bootcamps">Skills Bootcamps</a></h2>
      <p class="govuk-body">Free flexible training courses for adults aged 19 and over, to develop specific skills in digital, technical, construction and green sectors, with a guaranteed job interview at the end.
      </p>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Qualification Level:</strong></p>
      <p class="govuk-body">Level 2 to level 5</p>
      </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Cost:</strong></p>
         <p class="govuk-body">Free government funded scheme</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body"><strong>How long they take:</strong></p>
            <p class="govuk-body">16 weeks</p>
            </div>

            <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body"><strong>Benefits:</strong></p>
            <p class="govuk-body">Gives you opportunity to build up valuable sector-specific skills, based on local employer demand and provides a direct path to a job on completion. </p>
            </div>

            <div class="govuk-grid-column-full">
            <hr>
            </div>
  </div>





   
  <div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-htqs">Higher Technical Qualifications (HTQs) </a></h2>
   <p class="govuk-body">For adults aged 18 and over, Higher Technical Qualifications (HTQs) are technical qualifications that employers have helped develop so you can get the right training and skills you need to succeed at work.
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">Level 4 and 5</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Cost can vary depending on the course studied</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">1 to 2 years</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">They help you develop the right knowledge, skills and behaviors employers need. </p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>






 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-multiply">Multiply</a></h2>
   <p class="govuk-body">Improving your numeracy could help you in your everyday life, from budgeting money to finding a new job. 
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">Level 0 to level 2</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free government scheme</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">4 weeks to 2 years depending on course</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">Helps unlock job opportunities, can lead to higher wages or prepares you for further study. </p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-free-courses">Free courses for jobs </a></h2>
   <p class="govuk-body">Hundreds of free courses available for those aged 19 and over, across different sectors, from accounting or construction to courses in early years, digital, catering, adult care and more.
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">???</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">???</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">???</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">Flexible to fit around your life, can help improve your job opportunities and could lead to earning a higher wage.  </p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-digital-essentials">Digital essential skills</a></h2>
   <p class="govuk-body">Free Digital Essential skills qualifications for those aged 19 and over, to develop the essential digital skills needed for work and everyday life.
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">Level 0 to level 1</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free government scheme</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">30 to 55 hours depending on course</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">Provides you with the digital skills needed for work, everyday life, and staying safe online.</p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-english-essentials">English essential skills</a></h2>
   <p class="govuk-body">Taking a free English essential skills course can improve your communication skills, helping you progress in work and everyday life.  
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">Level 0 to level 2</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free government scheme</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">3 to 6 months</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">Boosting your English skills can help you with everyday life like finding work, shopping or registering with a doctor. </p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-numeracy-essentials">Numeracy essential skills</a></h2>
   <p class="govuk-body">For those aged 19 and over, to gain the numeracy skills they need for work and everyday life which are recognised by employers.
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">Level 0 to level 2</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free government scheme</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">3 to 6 months</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">Good maths and numeracy skills, can help you to unlock new job opportunities and increase your earnings. </p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>






 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-skills-toolkit">The Skills Toolkit</a></h2>
   <p class="govuk-body">Flexible courses open to everyone to boost your skills at your own pace in digital, numeracy and transferable skills.
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">???</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free government scheme</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">Short courses up to 3 days </p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">Develop some of the most sought-after skills by employers such as communicating confidently or handling stressful situations. </p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>







 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-alevels">A levels</a></h2>
   <p class="govuk-body">For those aged 16 and over, A levels are subject-based qualifications usually assessed by exams. They can lead to further study, training or work.
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">Level 3</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">2 years</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">They help you develop skills needed in particular subject areas and allow you to move  on to an apprenticeship, join a school leavers scheme, find another type of higher education or go straight into employment. </p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>






 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-higher-education">Higher education</a></h2>
   <p class="govuk-body">Higher education is the name for qualifications and courses you can take after 18. It includes diplomas, foundation years, bachelor degrees and more.
   </p>

   <div class="govuk-grid-column-one-quarter">
   <p class="govuk-body"><strong>Qualification Level:</strong></p>
   <p class="govuk-body">Level 4 to 7</p>
   </div>

      <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Cost can vary depending on the course studied</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>How long they take:</strong></p>
         <p class="govuk-body">3 to 5 years</p>
         </div>

         <div class="govuk-grid-column-one-quarter">
         <p class="govuk-body"><strong>Benefits:</strong></p>
         <p class="govuk-body">Widens your options and gives you the skills you need for many different jobs and careers sometimes in specialist sectors.</p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>























      </div>
      </div>


{% endblock %}
