{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
<div class="govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Explore different careers
     </li>
   </ol>
 </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">







    <h1 class="govuk-heading-xl">
      Explore different careers
    </h1>

    <p class="govuk-body-l">Find out what a job involves and if it’s right for you</p>

    <p class="govuk-body">Not sure where to start? <a href="">Try our Job idea generator</a></p>

    

    <h2 class="govuk-heading-m">
      Explore by job category
   </h2>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>
   
   <p class="govuk-body"><a class="govuk-link" href=""><strong>Animal care</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Beauty and wellbeing</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Business and finance</strong></a> </p>
   
   <p class="govuk-body"><a class="govuk-link" href=""><strong>Computing, technology and finance</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Construction and trades</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Creative and media</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Delivery and storage</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Emergency and uniform services</strong></a> </p>



   <p class="govuk-body"><a class="govuk-link" href=""><strong>Engineering and maintenance</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Environment and land</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>
   
   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>

   <p class="govuk-body"><a class="govuk-link" href=""><strong>Administration</strong></a> </p>



   

 


    
 


  </div>
</div>

{% endblock %}
