{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>

        <li class="govuk-breadcrumbs__list-item">
          Find work and training near me 

        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Find work and training near me 

    </h1>

    <p class="govuk-body-l">Intro line</p>

    <hr>

    <h2 class="govuk-heading-m">
      Find a job
   </h2>

    <p class="govuk-body">Find full or part-time work using the <a href="https://www.gov.uk/find-a-job">‘Find a job’</a> service to search and apply for jobs in England, Scotland and Wales.
    </p>

    <hr>

    <h2 class="govuk-heading-m">
      Apprenticeships
   </h2>

    <p class="govuk-body">Apprenticeships are real jobs that allow you to earn a wage while you learn. They can take between 1 and 5 years to complete, depending on the level.</p>

    <p class="govuk-body"><a href="https://www.apprenticeships.gov.uk/apprentices/browse-apprenticeships"> Browse apprenticeships before you apply    </a></p>


    <hr>

    
    <h2 class="govuk-heading-m">
      T Levels
   </h2>

    <p class="govuk-body">T Levels are nationally-recognised qualifications for 16 to 19-year-olds that takes 2 years to complete.
    </p>

    <p class="govuk-body"><a href="https://www.tlevels.gov.uk/students/find"> Your nearest T Level    </a></p>




    <hr>




    <h2 class="govuk-heading-m">
      Bootcamps
   </h2>

    <p class="govuk-body">Free flexible training courses for adults to develop specific skills in digital, technical, construction and green sectors, with a guaranteed job interview at the end.
    </p>

    <p class="govuk-body"><a href="https://www.gov.uk/guidance/find-a-skills-bootcamp"> Find a Skills Bootcamp    </a></p>





    <hr>




    <h2 class="govuk-heading-m">
      The Skills Toolkit
   </h2>

    <p class="govuk-body">Flexible courses open to everyone to boost your skills at your own pace in digital, numeracy and transferable skills.
    </p>

    <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/find-a-course/the-skills-toolkit"> Search the Skills Toolkit    </a></p>




    <hr>





    <h2 class="govuk-heading-m">
      Higher education
   </h2>

    <p class="govuk-body">Higher education is the name for qualifications and courses you can take after 18. It includes diplomas, foundation years, bachelor degrees and more.</p>

    <p class="govuk-body"><a href="https://www.aoc.co.uk/about/list-of-colleges-in-the-uk">Find a College </a></p>

    <p class="govuk-body"><a href="https://discoveruni.gov.uk/"> Discover a university course </a></p>



    <hr>




    <h2 class="govuk-heading-m">
      Find a course
   </h2>

    <p class="govuk-body">Search on the ‘find a course’ tool to find the right training for you. This includes free courses and VTQ’s as well as english, maths and digital skills. 
    </p>

    <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/find-a-course"> Find a course   </a></p>




    <hr>





    <h2 class="govuk-heading-m">
      Higher Technical Qualifications 

   </h2>

    <p class="govuk-body">Higher Technical Qualifications (HTQs) are technical qualifications that employers have helped develop so you can get the right training and skills you need to succeed at work.
    </p>

    <p class="govuk-body"><a href="https://digital.ucas.com/coursedisplay/results/courses?studyYear=2023&destination=Undergraduate&qualifications=Higher%20Technical%20Qualifications&postcodeDistanceSystem=imperial&pageNumber=1&sort=MostRelevant&clearingPreference=None"> Browse HTQ’s before you apply   </a></p>


    








  </div>
</div>

{% endblock %}
