{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<div class="govuk-!-margin-top-5 govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     {% if(page !== "" and pagename !== "") %}
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
    </li>
    {% endif %}
     <li class="govuk-breadcrumbs__list-item">
      Options after leaving school
     </li>
   </ol>
 </div>
{% endblock %}






{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Training choices</h1>
</div>
</div>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-one-quarter">

<div class="govuk-summary-card">
   <div class="govuk-summary-card__title-wrapper">
     <h2 class="govuk-summary-card__title">Filters</h2>
     <ul class="govuk-summary-card__actions">
       <li class="govuk-summary-card__action">
         <a class="govuk-link" href="/l3-all-choices">
     Clear filters
           </a>
       </li>
     </ul>
   </div>
   <div class="govuk-summary-card__content">

     <form method="post" action="#">
       <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
         
         
         <div class="govuk-accordion__section">
           <div class="govuk-accordion__section-header">
             <h2 class="govuk-accordion__section-heading">
               <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
             I want to
             </span>
             </h2>
           </div>
           <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
             <div class="govuk-form-group">
               <fieldset class="govuk-fieldset">
                 <!-- <legend class="govuk-fieldset__legend">
                   Peer review outcome
                </legend> -->
                 <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                      Learn and retrain
                      </label>
                   </div>
                   <div class="govuk-checkboxes__item">
                     <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                     <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                      Find work
                      </label>
                   </div>
                   
                 </fieldset>
               </div>
             </div>
           </div>


           <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Age
              </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <!-- <legend class="govuk-fieldset__legend">
                    Peer review outcome
                 </legend> -->
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                       16+
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                       18+
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" {{checked("filter_outcome","Green")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                       19+
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" {{checked("filter_outcome","Green")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                       24+
                       </label>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>


           <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Qualification type
              </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <!-- <legend class="govuk-fieldset__legend">
                    Peer review outcome
                 </legend> -->
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                        Entry to GCSE (Level 0 - 2)
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                        A level / College (Level 3)
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" {{checked("filter_outcome","Red")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                        Higher education and degree (Level 4 - 7) 
                       </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" {{checked("filter_outcome","Amber")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                        Personal learning and work experience
                       </label>
                    </div>
                    <!-- <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" {{checked("filter_outcome","Green")}}>
                      <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                       Combined work and classroom based
                       </label>
                    </div> -->
                  </fieldset>
                </div>
              </div>
            </div>
           
         </div>
         <button class="govuk-button" data-module="govuk-button">
          Apply filter
          </button>
       </form>
     </div>
   </div>

   </div>




<!-- OVERALL COURSES COLUMN -->
      <div class="govuk-grid-column-two-thirds">
<!-- OVERALL COURSES COLUMN -->




  


      <div class="dfeuk-card dfeuk-card--clickable">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-l">
              <a class="dfeuk-card__link" href="https://www.gov.uk/find-a-job">Find a job</a>
           </h2>
           <p class="dfeuk-card__description">Find full or part-time work using the 'Find a job' service to search and apply for jobs in England, Scotland and Wales.
          </p>
        </div>
     </div>

      








  
      <div class="govuk-grid-column-full">
         <h2 class="govuk-link"><a href="l4-apprenticeships">Apprenticeships</a></h2>
         <p class="govuk-body">Apprenticeships are real jobs that allow you to earn a wage while you learn. You’ll get to work alongside experienced staff, gain job-specific skills and get time for training and study related to your role. 
        </p>

         <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Age:</strong></p>
         <p class="govuk-body">16+</p>
         </div>

            <div class="govuk-grid-column-one-third">
            <p class="govuk-body"><strong>Cost:</strong></p>
            <p class="govuk-body">You are paid the apprentice or national minimum wage depending on age</p>
            </div>

            <div class="govuk-grid-column-one-third">
               <p class="govuk-body"><strong>Time:</strong></p>
               <p class="govuk-body">1 to 5 years depending on the level</p>
               </div>

              

               <div class="govuk-grid-column-full">
               <hr>
               </div>
     </div>







     <div class="govuk-grid-column-full">
      <h2 class="govuk-link"><a href="l4-tlevels">T levels</a></h2>
      <p class="govuk-body">A T Level is a nationally-recognised qualification designed with leading businesses and employers to give you the knowledge and skills you need. You’ll spend 80% of your time in the classroom and 20% on a minimum 9-week placement with an employer. 
      </p>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Age:</strong></p>
      <p class="govuk-body">16 to 19</p>
      </div>

         <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Cost:</strong></p>
         <p class="govuk-body">Free</p>
         </div>

         <div class="govuk-grid-column-one-third">
            <p class="govuk-body"><strong>Time:</strong></p>
            <p class="govuk-body">2 years</p>
            </div>

           

            <div class="govuk-grid-column-full">
            <hr>
            </div>
  </div>





      
     <div class="govuk-grid-column-full">
      <h2 class="govuk-link"><a href="l4-skills-bootcamps">Skills Bootcamps</a></h2>
      <p class="govuk-body">Free flexible training courses for adults, designed to develop specific skills in digital, technical, construction and green sectors, with a guaranteed job interview at the end.
      </p>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Age:</strong></p>
      <p class="govuk-body">19+</p>
      </div>

         <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Cost:</strong></p>
         <p class="govuk-body">Free</p>
         </div>

         <div class="govuk-grid-column-one-third">
            <p class="govuk-body"><strong>Time:</strong></p>
            <p class="govuk-body">16 weeks</p>
            </div>


            <div class="govuk-grid-column-full">
            <hr>
            </div>
  </div>





   
  <div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-htqs">Higher Technical Qualifications (HTQs) </a></h2>
   <p class="govuk-body">Higher Technical Qualifications (HTQs) are technical qualifications that employers have helped develop so you can get the right training and skills you need to succeed at work.
  </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">18+</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Cost can vary depending on the course studied</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">1 to 2 years</p>
         </div>

 
         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>






 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-multiply">Multiply</a></h2>
   <p class="govuk-body">Multiply is for those who don't have maths GCSE at grade C (or equivalent) to build your confidence with numbers and gain a qualification. Improving your numeracy can help you find more job opportunities, can lead to higher wages or prepare you for further study.
  </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">19+</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">4 weeks to 2 years depending on course</p>
         </div>


         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>






<div class="govuk-grid-column-full">
  <h2 class="govuk-link"><a href="l4-supported-internships">Supported internships with an education, health and care plan</a></h2>
  <p class="govuk-body">Supported internships are an unpaid work-based study programme that could help you to secure and sustain employment through learning in the workplace, with support from a qualified job coach. 
 </p>

  <div class="govuk-grid-column-one-third">
  <p class="govuk-body"><strong>Age:</strong></p>
  <p class="govuk-body">16 to 24</p>
  </div>

     <div class="govuk-grid-column-one-third">
     <p class="govuk-body"><strong>Cost:</strong></p>
     <p class="govuk-body">Free</p>
     </div>

     <div class="govuk-grid-column-one-third">
        <p class="govuk-body"><strong>Time:</strong></p>
        <p class="govuk-body">6 to 12 months</p>
        </div>

       
        <div class="govuk-grid-column-full">
        <hr>
        </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-free-courses">Free courses for jobs </a></h2>
   <p class="govuk-body">Hundreds of free, flexible courses are available across different sectors, from accounting to construction, digital, catering, adult care and more. Doing a free course could help you improve your chances of finding a new job and could lead to earning a higher wage. 
  </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">19+</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free depending on your personal circumstances </p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">from a few weeks to a year depending on course</p>
         </div>


         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-digital-essentials">Digital essential skills</a></h2>
   <p class="govuk-body">Free Digital Essential skills qualifications for those aged 19 and over, to develop the essential digital skills needed for work and everyday life.
   </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">19+</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">30 to 55 hours depending on course</p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-english-essentials">English essential skills</a></h2>
   <p class="govuk-body">Free English essential skills can help improve your communication skills so you can progress in work and everyday life. 
  </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">19+</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">3 to 6 months</p>
         </div>


         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>





 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-numeracy-essentials">Numeracy essential skills</a></h2>
   <p class="govuk-body">Free numeracy courses can help you gain the skills you need for work and everyday life, they could help you find a new job and could lead to higher wages.
  </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">19+</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">3 to 6 months</p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>






 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-skills-toolkit">The Skills Toolkit</a></h2>
   <p class="govuk-body">Flexible courses open to everyone to boost your skills at your own pace in digital, numeracy and transferable skills.
   </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">Dependent on the course </p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">Short courses up to 3 days </p>
         </div>


         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>







 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-alevels">A levels</a></h2>
   <p class="govuk-body">A levels are subject-based qualifications usually assessed by exams. They allow you to move to an apprenticeship, join a school leavers scheme, find another type of higher education or go straight into employment.
  </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">16 and over</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Free depending on the course</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">2 years</p>
         </div>


         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>






 
<div class="govuk-grid-column-full">
   <h2 class="govuk-link"><a href="l4-higher-education">Higher education</a></h2>
   <p class="govuk-body">Higher education is the name for qualifications and courses you can take after 18. It includes diplomas, foundation years, bachelor degrees and more.
   </p>

   <div class="govuk-grid-column-one-third">
   <p class="govuk-body"><strong>Age:</strong></p>
   <p class="govuk-body">18 and over</p>
   </div>

      <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Cost:</strong></p>
      <p class="govuk-body">Cost can vary depending on the course studied</p>
      </div>

      <div class="govuk-grid-column-one-third">
         <p class="govuk-body"><strong>Time:</strong></p>
         <p class="govuk-body">3 to 5 years</p>
         </div>

         <div class="govuk-grid-column-full">
         <hr>
         </div>
</div>




<div class="govuk-grid-column-full">
  <h2 class="govuk-link"><a href="l4-vtqs">VTQs</a></h2>
  <p class="govuk-body">VTQs are practical qualifications designed to help you get the skills you need to start your career or go on to higher levels of education.</p>

  <div class="govuk-grid-column-one-third">
  <p class="govuk-body"><strong>Age:</strong></p>
  <p class="govuk-body">16+</p>
  </div>

     <div class="govuk-grid-column-one-third">
     <p class="govuk-body"><strong>Cost:</strong></p>
     <p class="govuk-body">Free depending on the course</p>
     </div>

     <div class="govuk-grid-column-one-third">
        <p class="govuk-body"><strong>Time:</strong></p>
        <p class="govuk-body">minimum of 1 year</p>
        </div>

        <div class="govuk-grid-column-full">
        <hr>
        </div>
</div>






















      </div>
      </div>


{% endblock %}
