{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
<div class="govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      Find work and training near me
     </li>
   </ol>
 </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">







    <form action="/l3-search-results" method="post" novalidate>
      <div class="govuk-form-group">
        <h1 class= "govuk-label-wrapper govuk-!-margin-bottom-7">
          <label class="govuk-label govuk-label--xl" for="postcode">
            Find work and training near me
          </label>
        </h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">

        <p class="govuk-body-l">Where do you want to search?</p>

        <input class=" govuk-input govuk-input--width-21" id="postcode" name="postcode" type="text" autocomplete="postal-code">
        <p class="govuk-!-margin-top-3 govuk-body">City, town, full or partial postcode (for example 'London' or 'SW1A 1AA', or 'SW'). </p>

        </div>

        <div class="govuk-grid-column-one-quarter">

        <p class="govuk-body-l">Keyword (optional)</p>
        

        <input class="govuk-input govuk-input--width-20" id="postcode" name="postcode" type="text" autocomplete="postal-code">
        
        </div>
        <div class="govuk-grid-column-one-quarter">

        <button class="govuk-!-margin-top-9 govuk-button" data-module="govuk-button">
          Find opportunities
        </button>

        </div>
      </div>

   
    </form>


   

    

   

 


    
 


  </div>
</div>

{% endblock %}
