{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
<div class="govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
     <li class="govuk-breadcrumbs__list-item">
       <a class="govuk-breadcrumbs__link" href="L1-home">Home</a>
     </li>
     <li class="govuk-breadcrumbs__list-item">
      What job should I do?
     </li>
   </ol>
 </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">







    <h1 class="govuk-heading-xl">
      What job should I do?
    </h1>

    <p class="govuk-body-l">Explore where your experience or interests could take you.</p>

    <p class="govuk-body">Not sure what kind of job you could do? Or looking to retrain in a different area of work?  </p>

    <p class="govuk-body">Thinking about what you have done in the past, is a good place to start. </p>

    

    <h2 class="govuk-heading-m">
      Job idea generator
   </h2>

   <p class="govuk-body">Try using the <a href="l4-job-idea-generator">Job idea generator</a> to discover how your experience or interests, could help you find the right job. </p>

   <h2 class="govuk-heading-m">
    Talk to a careers adviser
   </h2>

   <p class="govuk-body">Talking to a career adviser can help you identify your strengths and suggest what your next steps could be.   </p>

   <p class="govuk-body">You can contact a careers adviser by webchat, email, phone or post.
    If you know what you want to do next, you can <a href="">search for work and training local to you</a> and you can also <a href="">get help with applying for jobs and training. </a>  </p>


   

 


    
 


  </div>
</div>

{% endblock %}
