{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
   <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l3-choices-retrain">Choices to retrain and find work</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
         English essential skills
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      English essential skills
    </h1>

    <p class="govuk-body-l">Taking a free English essential skills course can improve your communication skills, helping you progress in work and everyday life. </p>

    <h2 class="govuk-heading-m">
      What are English essential skills courses?
   </h2>

    <p class="govuk-body">If you are looking to improve your English, there are two qualifications you can take: </p>

    <p class="govuk-body">English Essential Skills courses can improve your communication skills, helping you progress in work and everyday life.  </p>

    <p class="govuk-body">English courses for speakers of other languages (ESOL) are also available to help you get the essential skills needed for life and work in the UK. </p>

    <p class="govuk-body"> In these qualifications you will learn how to use English for: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        reading    
      </li>
      <li>
        writing
      </li>
      <li>
        speaking
      </li>
      <li>
        listening 
      </li>
    </ul>

    <p class="govuk-body">All these skills are needed by employers, so boosting yours could help you take the next step to a better job.  </p>

    <p class="govuk-body">They can also help you with everyday life in the UK such as shopping, finding work or registering with a doctor.  </p>

    <p class="govuk-body">All courses lead to a recognised certificate, whether it is an entry-level course, or a level 1 or 2 course (equivalent to GCSE). </p>


    <h2 class="govuk-heading-m">
      Who can take an English essential skills course?
   </h2>

   <p class="govuk-body">The courses are available to adults aged 19 and over, living in England who do not have a GCSE in English at grade C (equivalent to grade 4 or CSE grade 1).  </p>

   <p class="govuk-body">English Essential Skills courses are free.   </p>

   <p class="govuk-body">ESOL courses may be free or part-funded depending on your level of income or employment status. </p>


   <h2 class="govuk-heading-m">
    Where can I do an English essential skills course?
 </h2>

 <p class="govuk-body">Courses take 3 to 6 months to complete and can be classroom-based or online.   </p>

 <p class="govuk-body">Full-time, part-time and evening class options may also be available, depending on your local provider. </p>



 <h2 class="govuk-heading-m">
  Find an English essential skills course
</h2>



    <ol class="govuk-list govuk-list--number">
      <li>
        Use the links provided to find the right course level for you  
      </li>
      <li>
        Contact the provider of the course to apply.
      </li>
    </ol>


    <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/find-a-course/page?searchTerm=english%20entry%20level&distance=10%20miles&town=&orderByValue=Relevance&startDate=Anytime&courseType=&courseHours=&courseStudyTime=&filterA=true&page=1&D=0&coordinates=&campaignCode=">Find an entry level course</a> </p>

    <p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/find-a-course/page?searchTerm=functional%20english%20level%201%202">Find a level 1 or level 2 course</a></p>

 
    <h2 class="govuk-heading-m">
      Find a ESOL course
    </h2>


    <ol class="govuk-list govuk-list--number">
      <li>
        Use the links provided to find the right ESOL course for you 
      </li>
      <li>
        Contact the provider of the course to apply.
      </li>
    </ol>


    
    <p class="govuk-body">You can also contact your local authority or college to find out more about opportunities in your area. </p>



  </div>
</div>

{% endblock %}
