{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        {% if(page !== "" and pagename !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
       </li>
       {% endif %}

        <li class="govuk-breadcrumbs__list-item">
         Free courses for jobs
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Free courses for jobs
    </h1>

    <p class="govuk-body-l">Hundreds of free courses available for those aged 19 and over, across different sectors, from accounting or construction to courses in early years, digital, catering, adult care and more.</p>

    <h2 class="govuk-heading-m">
      What are free courses for jobs?
   </h2>

    <p class="govuk-body">Free courses for jobs are flexible courses to fit around your life. They vary in length of time, from a few weeks to a year. </p>

    <p class="govuk-body">The courses are designed to help you improve your job opportunities and could lead to earning a higher wage. </p>

    <p class="govuk-body">There are over 400 free courses on offer linked to a wide variety of different sectors, including accounting, digital, health and social care, construction, early years, catering, agriculture and more. </p>

    <p class="govuk-body">The qualifications are equivalent to an advanced technical certificate or diploma, or A levels. </p>


    <h2 class="govuk-heading-m">
      Who are they for?
   </h2>

   <p class="govuk-body">They are for adults aged 19 and over, who are unemployed, earn below the National Living Wage annually, or do not already have a level 3 qualification. </p>

   <p class="govuk-body">Courses are free but additional financial support to pay for childcare, travel and other costs may be available when speaking to the course provider. </p>


   <h2 class="govuk-heading-m">
    Where can I take a free course for jobs? 
 </h2>

 <p class="govuk-body">Free courses for jobs can take place at a college, at a place of work or online.  </p>

 <p class="govuk-body">They are offered as:  </p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        full-time learning     
      </li>
      <li>
        part-time learning
      </li>
      <li>
        online learning
      </li>
    </ul>

   
   <h2 class="govuk-heading-m">
    Find a free course
   </h2>

   <p class="govuk-body">Use Find a Course to find the right qualification for you: </p>


 
   <button class="govuk-button" data-module="govuk-button">
    Find a free course
  </button>
  


    
 


  </div>
</div>

{% endblock %}
