{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
   <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        {% if(page !== "" and pagename !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
       </li>
       {% endif %}
        <li class="govuk-breadcrumbs__list-item">
         HTQs
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Higher technical qualifications (HTQs)
    </h1>

    <p class="govuk-body-l">HTQs are technical qualifications that employers have helped develop so you can get the right training and skills you need to succeed at work. </p>


    <h2 class="govuk-heading-m">
      What is a HTQ?
   </h2>

    <p class="govuk-body">HTQs are an alternative to apprenticeships or degrees. They may suit you if you want a more practical, employer-led study programme.  </p>

    <p class="govuk-body">Approved HTQs are new and existing level 4 and 5 qualifications approved by the Institute for Apprenticeships and Technical Education.</p>

    <p class="govuk-body">There are many different types of HTQs, such as:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        higher national diplomas     
      </li>
      <li>
        higher national certificates    
      </li>
      <li>
        foundation degrees
      </li>
      <li>
        higher education diplomas
      </li>
    </ul>

    <p class="govuk-body">HTQs in digital occupations are now being taught in a variety of subjects leading to careers such as network engineer, software developer and data analyst. </p>

    <p class="govuk-body">From September 2023, new HTQs in construction and health and science will also be available.</p>

    <p class="govuk-body">After completing a HTQ, you could go straight into employment or start another type of higher education. </p>


    <h2 class="govuk-heading-m">
      Who can take a HTQ?
     </h2>

   <p class="govuk-body">To start a HTQ, you’ll need to: </p>


   <ul class="govuk-list govuk-list--bullet">
    <li>
      be aged 18 or over
    </li>
    <li>
      live in England     
    </li>
  </ul>
   

  <p class="govuk-body">You can apply for a HTQ while you’re still at school. </p>

  <p class="govuk-body">The grades or qualifications you’ll need to have will depend on the type of course you’re applying for. </p>

  <p class="govuk-body">Tuition fees vary depending on the course. They’re likely to cost from around £7,000 to £9,250 a year for a 1 or 2 year course. </p>

  <p class="govuk-body">You may be eligible for funding from student finance or a scholarship, grant or bursary. This will depend on your circumstances and the type of HTQ you’re studying. </p>


   <h2 class="govuk-heading-m">
    Where can I do a HTQ?
   </h2>

   <p class="govuk-body">You can study HTQs full time or part time. They are usually taught at colleges, universities or independent training providers.</p>



   <h2 class="govuk-heading-m">
    Find a HTQ
  </h2>

   <p class="govuk-body">You can use UCAS to search and apply for HTQ courses near to you.  </p>



 
   <button class="govuk-button" data-module="govuk-button">
    Find a HTQ
  </button>
  


    
 


  </div>
</div>

{% endblock %}
