{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
   <div class="govuk-!-margin-top-5 govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        {% if(page !== "" and pagename !== "") %}
        <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="{{page}}">{{pagename}}</a>
       </li>
       {% endif %}

        <li class="govuk-breadcrumbs__list-item">
         Numeracy essential skills
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      Numeracy essential skills
    </h1>

    <p class="govuk-body-l">These courses will help you gain the numeracy skills you need for work and everyday life and are recognised by employers. </p>

    <h2 class="govuk-heading-m">
      What are Numeracy essential skills courses?
   </h2>

    <p class="govuk-body">From managing your household bills to helping your children with homework, having a good foundation of numeracy skills can help you in everyday life.</p>

    <p class="govuk-body">Entry level courses are available for complete beginners or those with low numeracy skills.  </p>

    <p class="govuk-body">No matter what level you start at, all Numeracy essential skills courses lead to a qualification in numeracy that is recognised by employers. </p>

    <p class="govuk-body"> Courses cover essential numeracy skills, such as: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
         Addition, subtraction, multiplication and division    
      </li>
      <li>
         Fractions, decimals and percentages
      </li>
      <li>
         Shapes and measurements
      </li>
      <li>
        Ratios
      </li>
      <li>
         Handling data
      </li>
      <li>
        Basic formulas
      </li>
    </ul>

    <p class="govuk-body">Many employers look for good maths and numeracy skills, so boosting yours can help you to unlock new job opportunities and increase your earnings. It could also help you to progress on to higher levels of free training to secure a skilled job. </p>

   
    <h2 class="govuk-heading-m">
      Who can do numeracy courses?
   </h2>

   <p class="govuk-body">The numeracy courses are available to adults aged 19 and over who do not already have a GCSE in maths at grade 4 (or equivalent).   </p>



   <h2 class="govuk-heading-m">
    Where can I do numeracy courses?
 </h2>

 <p class="govuk-body">Courses take 3 to 6 months to complete and can be classroom-based or online.   </p>

 <p class="govuk-body">Full-time, part-time and evening class options may also be available, depending on your local provider. </p>



 <h2 class="govuk-heading-m">
  Find a numeracy course
</h2>

<p class="govuk-body">Search for a numeracy course that suits you: </p>

<p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/find-a-course/page?searchTerm=maths%20entry%20level&distance=10%20miles&town=&orderByValue=Relevance&startDate=Anytime&courseType=&courseHours=&courseStudyTime=&filterA=true&page=1&D=0&coordinates=&campaignCode=">Entry level numeracy courses </a></p>

<p class="govuk-body"><a href="https://nationalcareers.service.gov.uk/find-a-course/page?searchTerm=functional%20maths%20level%201%202&distance=10%20miles&town=&orderByValue=Relevance&startDate=Anytime&courseType=&courseHours=&courseStudyTime=&filterA=true&page=1&D=1&coordinates=&campaignCode=">Level 1 or level 2 numeracy courses</a></p>




  </div>
</div>

{% endblock %}
