{% extends "layouts/main.html" %}

{% set pageName="Home" %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
   <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l1-home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="l3-all-choices">All choices</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
         School leaver schemes
        </li>
      </ol>
    </div>
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">






    <h1 class="govuk-heading-xl">
      School leaver schemes
    </h1>

    <p class="govuk-body-l">Learn and train with a large company while earning a wage. </p>

    <h2 class="govuk-heading-m">
      What is a school leavers scheme?
   </h2>

    <p class="govuk-body">Some companies offer school leaver schemes to young people who have completed A levels. The schemes allow you to learn and train with a large company while earning a wage. </p>

    <p class="govuk-body">Schemes are offered by employers in sectors such as accounting and finance, engineering, law, leisure and retail.</p>

    <p class="govuk-body">Employers create their own schemes, so each one will be slightly different.</p>

    <p class="govuk-body">Some of things your scheme might include:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        following a training programme       
      </li>
      <li>
        earn a qualification, but not always      
      </li>
      <li>
        rotate between different locations with the same company
      </li>
      <li>
        complete training online, in college or at a university
      </li>
    </ul>

    <p class="govuk-body">Once you’ve finished a school leaver scheme, you could continue your training with an apprenticeship or higher education qualification.   </p>

    <p class="govuk-body">You could also get a paid job at the same place you trained with or you could look for a job with a different employer.  </p>


    <h2 class="govuk-heading-m">
      Who can do a school leavers scheme?
     </h2>

   <p class="govuk-body">To start a school leaver scheme, you’ll need to: </p>


   <ul class="govuk-list govuk-list--bullet">
    <li>
      be 18 or over      
    </li>
    <li>
      not be in full time education
    </li>
  </ul>
   

   <p class="govuk-body">Usually, the schemes require high A level grades or equivalent qualifications. </p>

   <p class="govuk-body">You can apply for a school leavers scheme while you’re still at school. </p>


   <h2 class="govuk-heading-m">
    Where can I do a school leavers scheme?
   </h2>

   <p class="govuk-body">Schemes usually take place wherever the company is based. This could be an office, a lab </p>



   <h2 class="govuk-heading-m">
    Find a school leavers scheme
  </h2>

   <p class="govuk-body">You’ll need to check each company’s website to see if they offer a school leaver scheme and how to apply. </p>

   <p class="govuk-body">You can get <a href="">careers advice</a> from us on topics such as:  </p>

   <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="https://nationalcareers.service.gov.uk/careers-advice/application-forms">how to fill in an application form </a>    
    </li>
    <li>
      <a href="https://nationalcareers.service.gov.uk/careers-advice/cv-sections">how to write a CV</a>
    </li>
    <li>
      <a href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice">interview help</a>    
    </li>
    <li>
      <a href="https://nationalcareers.service.gov.uk/careers-advice#progressing-your-career">progressing your career</a>
    </li>
  </ul>
 

  


    
 


  </div>
</div>

{% endblock %}
