{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}



<img class="skills-logo" src="/public/images/skills-for-life-logo.png" alt="skills for life logo">


<img class="dfeuk-image__img" src="/public/images/skills-banner.png" alt="text: where ambition meets reality. image: a side profile view of a group writing on a whiteboard">



    <h1 class="govuk-heading-xl govuk-!-margin-top-8">
      Find training, support and advice to gain the skills you need for the job you want
    </h1>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<p class="govuk-body-l"><a href="https://www.youthemployment.org.uk/employment-help-young-people/choices/"><strong>Taking your next step in life</a> can feel like a big leap. It's okay not to have your life mapped out yet! Thinking about your next steps in education and training is a great place to start.</strong></p>


<p class="govuk-body-l">See which training and education choices are out there for you, all in one place.</p>

</div>
</div>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">


<ul class="dfeuk-grid-row dfeuk-card-group">
  <li class="dfeuk-grid-column-one-half
   dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/young-people.png" alt="Three young people laughing while looking at a mobile phone">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="l2-young-people" >Young people</a>
           </h2>
           <p class="dfeuk-card__description">I'm in education or just about to leave</p>
        </div>
     </div>
  </li>

  <li class="dfeuk-grid-column-one-half dfeuk-card-group__item">
    <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/adults.png" alt="three adults having a conversation">
       <div class="dfeuk-card__content">
          <h2 class="dfeuk-card__heading dfeuk-heading-m">
             <a href="l2-adults" >Adults</a>
          </h2>
          <p class="dfeuk-card__description">I’m looking for a new job or how to get into work</p>
       </div>
    </div>
 </li>
</ul>

<hr>

<h2 class="govuk-heading-l">
   More options
 </h2>

<ul class="dfeuk-grid-row dfeuk-card-group">
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
     <div class="dfeuk-card dfeuk-card--clickable">
      <img class="dfeuk-card__img" src="/public/images/green-jobs.png" alt="a woman in an office looking at data">
        <div class="dfeuk-card__content">
           <h2 class="dfeuk-card__heading dfeuk-heading-m">
              <a href="campaign-1" >Consider a career in renewable energy</a>
           </h2>
           <p class="dfeuk-card__description">There are thousands of live training opportunities right now</p>
        </div>
     </div>
   </li>
   
   
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/apprenticeships-week.png" alt="two adults having a conversation">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="campaign-2" >National Apprenticeship Week 2023, 6th - 12th February 2023</a>
        </h2>
        <p class="dfeuk-card__description">Events across the UK showcasing the benefits of an apprenticeship</p>
     </div>
   </div>
   </li>
   
   <li class="dfeuk-grid-column-one-third dfeuk-card-group__item">
   <div class="dfeuk-card dfeuk-card--clickable">
   <img class="dfeuk-card__img" src="/public/images/get-into-teaching.png" alt="a teacher looking confident in a room full of students ">
     <div class="dfeuk-card__content">
        <h2 class="dfeuk-card__heading dfeuk-heading-m">
           <a href="https://getintoteaching.education.gov.uk/" >Get Into Teaching </a>
        </h2>
        <p class="dfeuk-card__description">Free advice and help to decide if teaching is right for you</p>
     </div>
   </div>
   </li>
   </ul>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

    
<!-- {% include "/includes/_adviser-resource" %} -->

 


  </div>
</div>




{% endblock %}
